  /* Reset */
  * {
      margin: 0;
      padding: 0;
    }
    ​
    ol, ul {
      list-style: none;
    }
    ​
    img {
      vertical-align: top;
      max-width: 100%;
      border: none;
    }
    ​
    a {
      color: inherit;
      text-decoration: none;
    }
    ​
    button {
      border: none;
      background: none;
      cursor: pointer;
      text-align: center;
    }
    ​
    /* Base */
    * {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    ​
    /* #173346 */
    /* #6bb039 */
    ​
    body {
      font-size: 14px;
      color: #444;
      background-color: #878787;
      font-weight: 400;
    }
    ​
    .container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 15px;
    }
    ​
    .col-2 {
      width: 16,666666667%;
    }
    .col-3 {
      width: 25%;
    }
    ​
    .col-4 {
      width: 33,333333333%;
    }
    ​
    .col-6 {
      width: 50%;
    }

  /*------------------------------------------------------------------------------ HEADER --------------------------------------------------------------- */
  .header-container{
    display: flex;
    height: 62px;
    background-color: #ffffff;
    justify-content: space-between;
  }

  .list-icon{
    display: flex;
    align-items: center;
  }

  .list-action{
    display: flex;
    align-items: center;
  }

  .logo-top{
    line-height: 80px;
    width: 100px;
    vertical-align: middle;
  }


  .list-action li {
    padding-left: 15px;
  }

  .list-icon li {
    padding-right: 15px;
  }

  .list-action li a{
    height: 65px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    line-height: 18px;
    padding-right: 17.5px;
  }

  .list-icon li a{
    text-decoration: none;
    font-size: 18px;
  }

  .fa-solid{
    color: #000000;
    padding-left: 10px;
  }

  .list-icon li:first-child{
    padding-left: 277px;
  }

  .fa-solid:hover{
   color: rgb(27, 185, 196);
  }
  
  .list-action li a:hover{
   color: rgb(27, 185, 196);
  }

  /*------------------------------------------------------------------------------ MAIN --------------------------------------------------------------- */

  .slide-show{
    position: relative;
    text-align: center;
  }

  .slide-show .img-background img {
    width: 100%;
  }
  .inline-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .btn-linkshop{
    top: 68%;
  }

  .img-background h3{
    font-family: Poppins,sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
  }

  .img-background h4{
    font-family: Libre Baskerville, sans-serif;
    top: 58%;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    font-style: italic;
  }

  .btn-linkshop{
    font-family: Poppins,sans-serif;
    font-weight: 500;
    text-decoration: none;
    background-color: #222; 
    border: none;
    color: white;
    padding: 18px 0px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 154px;
    margin-left: 676px;
  }

  .btn-linkshop:hover{
    background-color: rgb(27, 185, 196);
    transform: scale(1.1);
    transition: transform .100s ease;
  }

  .fa-down-long{
    color: #ffffff;
  }

  

  /*------------------------------------------------------------------------------ LIST 3 DECOR --------------------------------------------------------------- */

  .product-list{
    display: flex;
  }

  .product-img-list{
    position: relative;
    padding: 31px 10px 30px 32px;
    width: 454px;
  }

  .product-img-list:hover{
    transform: scale(1.1);
    transition: transform .5s ease;
  }

  .product-der-1{
    position: absolute;
  }
  .product-der-2{
    position: absolute;
  }
  .product-der-3{
    position: absolute;
  }

  h3.product-der-1{
    top: 42%;
    color: #ffff;
    left: 3%;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30;
  }

  h3.product-der-2{
    top: 66%;
    color: #000000;
    left: 53%;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30;
  }

  h3.product-der-3{
    top: 42%;
    color: #000000;
    left: 69%;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30;
  }

  /*------------------------------------------------------------------------------ Best Selling PRODUCT --------------------------------------------------------------- */

  .selling-product{
    text-align: center;
    font-family: Poppins, sans-serif;
  }

  .selling-product h3{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
  } 

  .selling-product p{
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  } 

  .detail-product{
    display: flex;
  }

  .detail-product img{
    width: 211.525px;
    height: 211.525px;
    margin-left: 26px;
    margin-right: 15px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .detail-product img:hover{
      transform: scale(1.1);
      transition: transform .5s ease;
  }

  .detail-product li a{
    text-decoration: none;
    font-weight: 550;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #222;
    line-height: 22.848px;
  }

  .detail-product li a:hover{
    color: rgb(27, 185, 196);

  }

  .detail-product li p{
    margin-top: 5px;
  }

  .section-product-selling{
    background-color: #efefef;
    padding-top: 3px;
    height: 1011px;
  }

  .btn-load{
    font-family: Poppins,sans-serif;
    font-weight: 500;
    text-decoration: none;
    background-color: #222; 
    border: none;
    color: white;
    padding: 18px 0px;
    padding-top: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 154px;
    position: absolute;
    top: 252%;
    left: 46%;
  }

  .btn-load:hover{
    background-color: #5a5a5a;
  }

  /*------------------------------------------------------------------------------ Latest Blog POST --------------------------------------------------------------- */

  .last-blog{
    text-align: center;
    font-family: Poppins, sans-serif;
    height: 578px;
  }

  .last-blog h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
  } 

  .last-blog p{
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  } 

  .detail-post{
    display: flex;
  }

  .detail-post a img{
    width: 370px;
    height: 277.5px;
    margin-left: 26px;
    margin-right: 15px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  .detail-post a img:hover{
    background-color: rgb(27, 185, 196);
    transform: scale(1.1);
    transition: transform .100s ease;
  }

  .detail-post li:first-child{
  margin-left: 120px;
  width: 370px;
  margin-right: 40px;
  }

  .detail-post li{
    width: 370px;
  }

  .detail-post li:last-child{
    margin-left: 40px;
    width: 370px;
  }

  .detail-post li span strong{
    margin-left: 23px;
    text-align: justify;
  }

  .detail-post li p{
    margin-left: 18px;
    text-align: left;
  }

  .detail-post li:hover{
    color: rgb(27, 185, 196);
  }

    /*------------------------------------------------------------------------------ Subscrinbe OUT LETTER --------------------------------------------------------------- */

  .sub-letter{
    text-align: center;
    font-family: Poppins, sans-serif;
    background-color: #efefef;
    width: 100%;
    height: 241px;
    padding-top: 30px;
  } 

  .sub-letter p{
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }

  input{
    width: 320px;
    height: 50px;
    margin-top: 29px;
    font-size: 16px;
    font-weight: 500;
  }

  button{
    background-color: #222222; /* màu của Quản trị mạng ^^ */
    border: none;
    color: white;
    padding: 17px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    margin-left: 10px;
    margin-top: 3px;
    width: 180px;
    height: 56px;
    font-weight: 600;
  }

  button:hover{
    background-color: #5a5a5a;
  }

      /*------------------------------------------------------------------------------ FOOTER --------------------------------------------------------------- */
   
  .footer-container{
    display: flex;
    font-family: Poppins, sans-serif;
  }

  .footer-container a img{
    margin-left: 123px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  table{
    height: 253px;
    margin-left: 295px;
    padding-top: 48px;
    text-align: left;
    color: #000000;
    margin-bottom: 50px;
  }

  td a{
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 400;
  }

  td a:hover {
    color: rgb(27, 185, 196);
  }

  th{
    padding-bottom: 13px;
    padding-right: 121px;
  }

  td{
    padding-bottom: 0px;
  }


  